*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Pacifico", cursive;
  font-family: "Press Start 2P", cursive;
  font-family: "Roboto Condensed", sans-serif;
}

#app {
  background-image: url("/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
#app .top {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}
#app .top .logo {
  width: 100px;
  height: 40px;
  margin: 0 auto;
}

#app .top .title {
  margin-top: 10px;
}

#app .top .title p {
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}

#app .box-qr {
  position: relative;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
  margin-top: 20px;
  width: 350px;
  height: 300px;
  background-color: white;
  border-radius: 3px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#app .box-qr #qr img {
  width: 100%;
}
#app .box-qr #check-done {
  display: flex;
  justify-content: center;
  width: 224px;
  height: 224px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.678);
  /* display: none; */
}
#app .box-qr #text {
  color: #888;
  font-size: 14px;
  text-align: center;
  position: absolute;
  bottom: 15px;
}

#app .box-qr .box-qr-border {
  margin: 0 auto;
  border: 1px solid rgb(216, 213, 213);
  width: 224px;
  height: 224px;
  padding: 15px;
}

#app #info {
  display: none;
  padding: 10px;
  width: 100%;
}

#app #info .info-row {
  display: flex;
  justify-content: space-between !important;
  width: 88%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid rgba(192, 191, 191, 0.459);
}
#app #info .info-row .text-title {
  /* width: 20%; */
  color: #888;
}
#app #info .info-row .text-value {
  /* width: 35%; */
}
